* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

.search-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #3f51b5;
  padding: 15px;
}

.search-form {
  position: relative;
}

input {
  border: none;
  border-radius: 4px;
  padding: 11px;
  width: 300px;
  outline: none;
}

.search-button {
  position: absolute;
  right: 0;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
}
.search-button:hover,
.search-button:focus {
  cursor: pointer;
}

.gallery {
  padding: 80px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 45px) / 4);
}

img {
  width: 100%;
  height: 220px;
}

.info {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.info-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.load-more {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 11px;
  margin-bottom: 40px;
  margin-left: 10px;
  background-color: white;
  text-align: center;
  width: 300px;
  outline: none;
}

.load-more:hover,
.load-more:focus {
  cursor: pointer;
}

.is-hidden {
  display: none;
}
